
# Insurance database


CSV are read from AWS using a URL. Then, CVS are exported as a MySQL database.

In [ ]:
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from url import users_url, plan_subscriptions_url, plan_prices_url, claims_reports_url

In [ ]:
#Se leen los csv de los url y se pasan a dataframe con formato correcto
def parse_price(string):
    return float(string.replace('$', '').replace(',', ''))

users_df = pd.read_csv(users_url, parse_dates = ['date_of_birth'])
plan_subs_df = pd.read_csv(plan_subscriptions_url, parse_dates = ['expiration_date', 'subscription_date'])
plan_prices_df = pd.read_csv(plan_prices_url, converters = {'annual_price_of_plan': parse_price})
claims_reports_df = pd.read_csv(claims_reports_url, parse_dates = ['claim_report_date'] ,converters = {'claim_amount': parse_price})

In [ ]:
#users_df.head()
plan_subs_df
#plan_prices_df
#claims_reports_df

In [ ]:
#users_df.info(verbose=True)
plan_subs_df.info(verbose=True)
#plan_prices_df.info(verbose=True)
#claims_reports_df.info(verbose=True)

In [ ]:
#Se crea la conexion
def create_server_connection(host_name, user_name, user_password): 
    try: 
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password
        )
        print("MySQL Database connection succesful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

pw = "root" #Put our MySQL Terminal password
connection = create_server_connection("localhost", "root", pw) 

#Se crea la base de datos
def create_database(connection, query):
    cursor = connection.cursor() #to make statements to communicate with mysql database
    try:
        cursor.execute(query)
        print('Database created successufully')
    except Error as err:
        print(f"Error: '{err}'")

db = 'aseguradora_db' #nombre de la base de datos creada
create_database_query = 'Create database ' + db #to create the database named mysql_python
create_database(connection, create_database_query)

#Se conecta a la base de datos creada

def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try: 
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password,
            database = db_name)
        print('MySQL database connection successful')
    except Error as err:
        print(f"Error: '{err}'")
    return connection

In [ ]:
#Definiendo las funciones para ejecutar y leer queries

def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print('Query was successful')
    except Error as err:
        print(f"Error: '{err}'")

def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall() #will return all results in table
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
#Drop tables if exist

dt_users = """
DROP TABLE IF EXISTS users;
"""
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, dt_users) 

dt_plan_subs = """
DROP TABLE IF EXISTS plan_subs;
"""
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, dt_plan_subs) 

dt_plan_prices = """
DROP TABLE IF EXISTS plan_prices;
"""
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, dt_plan_prices) 

dt_claim_reports = """
DROP TABLE IF EXISTS claim_reports;
"""
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, dt_claim_reports)

In [ ]:
#Crear tablas en la db

ct_users = """
CREATE TABLE users(
user_id INT PRIMARY KEY,
gender VARCHAR(1) NOT NULL,
date_of_birth DATE
)ENGINE=INNODB;
"""
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, ct_users) 

ct_plan_subs = """
CREATE TABLE plan_subs(
plan_id INT NOT NULL PRIMARY KEY,
user_id INT NOT NULL,
subscription_date DATE,
expiration_date DATE,
FOREIGN KEY(user_id) REFERENCES users(user_id)
)ENGINE=INNODB;
"""
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, ct_plan_subs) 

ct_plan_prices = """
CREATE TABLE plan_prices(
age INT,
gender VARCHAR(1) NOT NULL,
annual_price_of_plan FLOAT(10,2)
)ENGINE=INNODB;
"""
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, ct_plan_prices) 

ct_claims_reports = """
CREATE TABLE claims_reports(
plan_id INT,
claim_report_date DATE,
claim_amount FLOAT(8,2),
FOREIGN KEY(plan_id) REFERENCES plan_subs(plan_id)
)ENGINE=INNODB;
"""
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, ct_claims_reports)

In [ ]:
#Se crea el engine
engine = create_engine('mysql+mysqlconnector://root:root@localhost/aseguradora_db', echo = False)

In [ ]:
#Pasando dataframes a mysql
users_df.to_sql(con = engine, name = 'users', if_exists = 'append', index = False)
plan_subs_df.to_sql(con = engine, name = 'plan_subs', if_exists = 'append', index = False)
plan_prices_df.to_sql(con = engine, name = 'plan_prices', if_exists = 'append', index = False)
claims_reports_df.to_sql(con = engine, name = 'claims_reports', if_exists = 'append', index = False)


***At this point, the database is already in MySQL Workbench***